@media (max-width: 600px) {
    .navbarContainer{
        display: none;
    }

    .mobileNavbar{
        display: block;
    }

    .headerWithLogo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .logo-mobile{
        width: 8rem;
        height: 3rem;
    }

    .logo-mobile img{
        width: 100%;
    }

    .header-mobile{
        display: flex;
        gap: 1rem;
        font-size: 20px;
    }

    .navbarContents-mobile{
        margin-top: 0.7rem;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    main{
        display: none;
        /* display: block; */
        padding: 5px;
    }

    .feedsContainer > .whatsOnYourMind {
        order: 1;
    }

    .feedsContainer > .storiesSection {
        order: 2;
    }

    .feedsContainer > .postSection{
        order: 3;
    }

    .storiesContainer{
        overflow-x: auto;
    }

    .addStoryCard{
        width: 10rem;
        height: 15rem;
    }

    .storyCard{
        width: 10rem;
        height: 15rem;
        padding: 3px;
        border-radius: 8px;
    }

    .leftMenus{
        display: none;
    }

    .groups{
        display: none;
    }

    .feedsContainer{
        margin-top: 3.2rem;
        width: 100%;
    }

    .addPhoto-mobile{
        display: block;
        margin-right: 10px;
        font-size: large;
    }

    .acitvitySection{
        display: none;
    }

    .menusMobile{
        margin-top: 4rem;
    }
    .menuHeading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        width: 95%;
        margin: auto;
    }

    .personProfile{
        width: 97%;
        margin: auto;
        padding: 10px;
        background-color: #4e4f50;
        color: #fff;
        border-radius: 8px;
    }
    .M-avatar{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 5px;
    }
    .M-userAvatar{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .M-userAvatar img{
        width: 100%;
        height: 100%;
    }
    .profileSeparator{
        border: 1px solid #fff;
        width: 100%;
    }
    .createNewProfile{
        padding: 10px;
        padding-top: 20px;
        width: 97%;
        margin: auto;
    }

    .menuItemsContainer{
        display: flex;
        justify-content: space-around;
        padding: 7px;
        flex-wrap: wrap;
    }
    .menuItem{
        margin-top: 10px;
        min-width: 9.3rem;
        background-color: #4e4f50;
        color: #fff;
        padding: 10px;
        border-radius: 7px;
    }
    .menuLogo{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .menuLogo img{
        width: 100%;
        height: 100%;
    }

    .seeMorebtn{
        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-color: #4e4f50;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        border: none;
    }

    .privacyAndSettingContainer{
        background-color: #2a2b2c;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: 0.5rem;
    }
    .privacyAndSettingContainer figure{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        overflow: none;
    }

    .privacyAndSettingContainer figure img{
        height: 100%;
        width: 100%;
    }

    .privacyAndSettingContainer hr{
        width: 100%;
        border: 1px solid #fff;
    }
    .helpAndSupport,
    .settingPrivacy,
    .fromMeta{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-left: 1rem;
    }

    .logoutbtn{
        width: 97%;
        margin: auto;
        background-color: #4e4f50;
        color: #fff;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }

    .friendRequestMobile{
        background-color: #2a2b2c;
        color: #fff;
        position: relative;
        top: 3rem;
    }

    .requestHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }
    
    .requestCategories-M{
        display: flex;
        align-items: center;
        gap: 0.6rem;
        padding: 0.5rem;
    }
    .requestCategories-M span{
        background-color: #4e4f50;
        color: #fff;
        padding: 4px;
        border-radius: 15px;
        font-size: small;
    }
    
    .fRequests-M{
        padding: 5px;
    }
    .personRequestCards{
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .reqCard{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }
    .personLogo{
        width: 6rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }

    .personLogo img{
        width: 100%;
        height: 100%;
    }

    .persondetails{
        width: 100%;
    }

    .buttons-M{
        display: flex;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
    .buttons-M button{
        width: 7rem;
        padding: 8px;
        font-size: small;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 3px;
    }
    .addfriendbtn{
        background-color: blue;
        color: #fff;
    }
    .removeReq{
        background-color: #4e4f50;
        color: #fff;
    }

    .videoSectionMobile{
        display: none;
        margin-top: 3.5rem;
    }

    .headingMobile{
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 0.5rem;
    }

    .headingMobile span{
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }
    .v-userLogo,
    .searchLogo{
        display: block;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        overflow: hidden;
        padding: 0.4rem;
    }

    .v-userLogo img,
    .searchLogo img{
        width: 100%;
        height: 100%;
    }

    .videoCategoryMobile{
        padding: 0.5rem;
    }

    .videoCategoryMobile span{
        color: #fff;
        background-color: #4e4f50;
        padding: 0.4rem;
        border-radius: 1rem;
        font-size: small;
    }

    .videosContainer{
        position: relative;
        left: 0;
        top: 0.5rem;
        color: #e7e9ed;
        padding: 0.4rem;
        width: 100%;
    }
    
    .allVideos{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: #e7e9ed;
        width: 100%;
        margin: auto;
    }
    
    .videoDetails{
        background-color: #242526;
        width: 100%;
        margin: auto;
        padding: 0.2rem;
        border-radius: 0.5rem;
    }
    .videoOwnerDetails{
        display: flex;
        gap: 0.5rem;
    }

    .V-ownerLogo{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .V-ownerLogo img{
        width: 100%;
        height: 100%;
    }
    
    .videoDetails p{
        font-size: small;
        padding: 0;
        padding-left: 0;
    }
    
    .video{
        margin-top: 1rem;
        background-color: #18191a;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video video{
        width: 100%;
        height: 100%;
    }
    
    .videoReactions{
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .currentReacts{
        width: 100%;
        padding: 0.4rem;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    .newReact{
        padding: 0.4rem;
        width: 100%;
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    .profileSectionMobile{
        display: block;
        margin-top: 6.5rem;
        padding: 0.5rem;
        background-color: #2a2b2c;
    }

    .profileSectionMobile .profileHeading{
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    .profileSectionMobile .profileHeading .editProfileLogo{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #242526;
        color: #fff;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profileSectionMobile .profileHeading .editProfileLogo img{
        width: 100%;
        height: 100%;
    }

    .coverPhoto{
        width: 100%;
        height: 17rem;
    }

    .coverPhoto img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .notificationModal{
        display: none;
        margin-top: 2.6rem;
        width: 100%;
        margin-right: -1rem;
        border-radius: 0;
    }
    
    .notificationModal .moreItemLogo{
        display: none;
    }
    .notificationModal .allAndUnread{
        display: none;
    }

    .earlierAndSeeall{
        margin-top: 1rem;
    }

    .earlierAndSeeall h2{
        font-size: medium;
    }
    .earlierAndSeeall .seee{
        display: none;
    }

    .previousNotificationbtn{
        padding: 0.4rem;
    }
}


