@media (max-width: 600px) {
    .navbarContainer{
        display: none;
    }

    .mobileNavbar{
        display: block;
    }

    .headerWithLogo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .logo-mobile{
        width: 8rem;
        height: 3rem;
    }

    .logo-mobile img{
        width: 100%;
    }

    .header-mobile{
        display: flex;
        gap: 1rem;
        font-size: 20px;
    }

    .navbarContents-mobile{
        margin-top: 0.7rem;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    main{
        padding: 0;
    }

    .feedsContainer > .whatsOnYourMind {
        order: 1;
    }

    .feedsContainer > .storiesSection {
        order: 2;
    }

    .feedsContainer > .postSection{
        order: 3;
    }

    .storiesContainer{
        overflow-x: auto;
    }

    .addStoryCard{
        width: 10rem;
    }

    .storyCard{
        width: 10rem;
        padding: 3px;
        border-radius: 8px;
    }

    .leftMenus{
        display: none;
    }

    .groups{
        display: none;
    }

    .feedsContainer{
        width: 100%;
    }
}
